[Unit]
Description=Fusuma (multitouch gesture recognizer)
Documentation=https://github.com/iberianpig/fusuma
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=fusuma
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
